# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# VS Code settings
.vscode/launch.json
.vscode/settings.json

# Do not need this for a package
pubspec.lock

# FVM SDK
.fvm/flutter_sdk

# Dev dirs
app_data/